<link href='https://fonts.googleapis.com/css?family=Lato:900,400|Shadows+Into+Light' rel='stylesheet' type='text/css'>

<p-tabView>
  <p-tabPanel header="Cassette">
    <div class="container">
      <div class="row justify-content-md-center" id="divPlayerContainer" z-index="2" style="width: 100%;">
        <div class="col col-lg-4">
          <span></span>
        </div>
        <div class="col-1">
          <iframe z-index="0" src="https://open.spotify.com/embed?uri=spotify:user:wgimson:playlist:46GBbwHGk0WarWl1ATNVqc&view=coverart"
            width="250" height="80" frameborder="0" allowtransparency="true"></iframe>
        </div>
        <div class="col  col-lg-4">
          <span></span>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col col-lg-4">
          <span></span>
        </div>
        <div class="cassetteOuter col-1">


          <span class="screw screw1">
            <span class="screwInner"></span>
          </span>
          <span class="screw screw2">
            <span class="screwInner"></span>
          </span>
          <span class="screw screw3">
            <span class="screwInner"></span>
          </span>
          <span class="screw screw4">
            <span class="screwInner"></span>
          </span>

          <div class="stickerOuter">
            <div class="sticker">
              <span class="a-side">A</span>
              <p class="cursive">Desert Mixtape for Macy!</p>
              <span class="stripe"></span>
              <span class="c90">D-C90</span>
              <span class="logo">T.F.H.®</span>
              <div class="middle clearfix spool">
                <span class="circle one">
                  <span class="teethBox">
                    <span class="teeth"></span>
                    <span class="teeth"></span>
                    <span class="teeth"></span>
                  </span>
                </span>
                <div class="window">
                  <span class="reelOne"></span>
                  <span class="reelTwo"></span>
                </div>
                <span class="circle two">
                  <span class="teethBox">
                    <span class="teeth"></span>
                    <span class="teeth"></span>
                    <span class="teeth"></span>
                  </span>
                </span>
              </div>
            </div>
          </div>

          <div class="cassetteBottom">
            <span class="screw screw5">
              <span class="screwInner"></span>
            </span>
            <span class="bottomShadow">
              <span class="bottomHoles one"></span>
              <span class="bottomHoles two"></span>
              <span class="bottomHoles three"></span>
            </span>
            <span class="holes one"></span>
            <span class="holes two"></span>
          </div>
        </div>

        <div class="col col-lg-4">
          <span></span>
        </div>

      </div>


      <div class="row justify-content-md-center">
        <div class="col col-lg-4">
          <span></span>
        </div>
        <div class="linerNotes col-1">

          <div class="linerNotesTop clearfix">
            <span class="boxDesc">TFH D-C90 90min. @ 1-7/8 ips(2 × 45min.)</span>
            <div class="infoBoxes clearfix">
              <span class="box1">Tape Selector</span>
              <span class="box2">Normal</span>
              <span class="box3">Bias-Normal
                <br />EQ-120µS</span>
              <span class="boxCopyright">©1972-1977 TFH Electronics Co.,Ltd.</span>
            </div>
          </div>
          <div class="linerNotesSpine">
            <span class="spineTitle">D-
              <span class="green">C90</span> TFH</span>
          </div>
          <div class="linerNotesMainContent clearfix">
            <span class="side">A</span>
            <span class="side">B</span>
            <div class="linerNotesMainContentInner">
              <h1>Cassette CSS</h1>
              <p>More custom messages can go here. Imagine this is a css builder for noobs!</p>
            </div>
          </div>
          <div class="linerNotesBottom">
            <p class="black">Dynamic Cassette</p>
            <p class="white">Precision Cassette Mechanism</p>
            <p class="title">D-
              <span class="green">C90</span> TFH®</p>
            <p class="black">Low Noise High Output</p>
          </div>
        </div>
        <div class="col col-lg-4">
          <span></span>
        </div>

      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Vinyl" [selected]="true">
      Content 2
  </p-tabPanel>
</p-tabView>



